.cards {
	width: 236px;
	height: 450px;


}

.cards:hover {
	box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
}

.stick {
	position: relative;
	display: flex;
}



.stick__right__btn__Like {
	background: none;
	cursor: pointer;
	border: none;
	position: absolute;
	right: 0px;
	top: 0px;
	fill: red
}

.stick__right__btn__noLike {
	background: none;
	cursor: pointer;
	border: none;
	position: absolute;
	right: 0px;
	top: 0px;
	fill: none;
	stroke: black;
	stroke-width: 1.5px;
}

.stick__right__btn__Like:hover {
	transform: scale(1.5) perspective(1px)
}

.stick__right__btn__noLike:hover {
	transform: scale(1.5) perspective(1px)
}


.card__discount {
	/* position: absolute; */
	padding: 2px 8px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #F44336;
	border-radius: 20px;
}

.stick__sale {
	/* position: absolute; */
	padding: 2px 8px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #1690e1;
	border-radius: 20px;
	left: 60px;
}

.stick__new {
	/* position: absolute; */
	padding: 2px 8px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #62f500;
	border-radius: 20px;
	left: 120px;
}

.card__image__product {
	width: 100%;
	height: 50%;
	object-fit: contain;

}